//
// Custom Main
//
// Add your own styles or override existing ones
//
// This file is included last, so you have access
// to all Bootstrap and OneUI functions/mixins/styles etc
// --------------------------------------------------

// If you have many custom styles, you can create and import additional files
// For example you can create _component1.scss and include it as follows:
// @import 'component1';


.max-screen {
  height: 100vh;
  max-height: 550px;
}

.simplebar-scrollbar::before {
  left: 0;
  right: 0;
  background: $primary-darker;

  #timesheet & {
    background: $white;
  }
}

.card {
  --bs-card-color: #212529;
  
  .dark-mode & {
    --bs-card-color: #DDE2E9;
  }
}